@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}



// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================



header {
    height: 100svh;
    width: 100;
    background-image: url("../img/lancic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center; 
}
header.transition {
    transition: background 1s ease-in-out;
  }


.shadow {
    height:inherit;
    width: inherit;
    background-color: rgba(0,0,0,0.15);
    position: relative;
}

nav h1 a{
    font-family: 'Handlee', cursive;
    width: 35%;
    font-size: 2rem;
    color: #000;
}


nav {
    width: 100%;
    padding: 0.4% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    z-index: 5;
    left:0;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
    img {
        width: 3%;
    }
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
}
ul,li{
    list-style-type: none;
}
a {
    text-decoration: none;
}

.navLi a {
    color: #000;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
}

.navLi a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 30px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
  }
.navLi a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.introContent {
    width: 25%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    padding: 2%;
    border-radius: 20px;
    position: absolute;
    bottom: 20%;
    right: 10%;
    color: #FFF;
    text-align: right;
    p {
        font-size: 1.45rem;
        margin: 13% 0;
    }
    h2 {
        font-size: 2.5rem;
        letter-spacing: 1.5px;
        text-align: center;
    }
    p {
        letter-spacing: 1.5px;
        text-align: justify;
        font-weight: 300;
    }
    
}
.introContent button {
    padding: 2%;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    background-color: #FFF;
    border: none;
    border-radius: 10px;
    transition: all 500ms;
    cursor: pointer;
    border: 1px solid transparent;
}
.introContent button:hover {
    color: #FFF;
    background-color: transparent;
    border: 1px solid #FFF;
}



// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================




.naslov {
    width: 100%;
    text-transform: capitalize;
    background-color: #000;
    h1 {
        text-align: center;
        padding: 2% 0;
        font-family: 'Handlee', cursive;
        font-size: 3rem;
        color: #fff;
    }
    
  }
  
.jewelry {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2%;
  }

.jewel {
    width: 30%;
    margin: 2% 0;

    img {
        width: 100%;
    }
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10% 5% 7px 25px;
    transition: all 300ms;
} 
.jewel:hover{
    transform: scale(1.05);
}
  
.jewelInfo {
    padding: 2% 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #000;
}

.jewelInfoStyle {
    font-weight: 500;
    font-size: 1.3rem; 
    color: #fff;
}

.imgRadius {
    border-radius: 10% 5% 0% 0%;
}
.jewelInfoRadius{
    border-radius: 0px 0px 7px 25px;
}

// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================


.stones {
    width: 100%;
    padding: 3% 0;
    background-image: url("../img/ogrlica4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.stoneSlider {
    width: 30%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 2% 1% 2%;
    border-radius: 25px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.stoneImgBox {
    width: 100%;
    transition: transform 500ms ease;
}
.stoneImgBox img {
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.stoneBtn {
    border: 1px solid rgba(0, 0, 0, 0.8);
    outline:none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0.5%;
    transition: all 300ms;
}

.stoneBtn:hover {
    background-color: #fff;
    color: #000;
}



// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================




.sponsors {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
    transition: all 500ms;
    transition: max-height 0.3s ease;
}

.sponsorBox {
    width: 22.5%;
    height: 200px;
    transition: all 500ms;
    margin-bottom: 2%;
}
.sponsorBox img {
    width: 100%;
}

#seeMoreBtn {
    display: block;
    padding: 0.5% 1%;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid #000;
    margin-bottom: 2%;
    background-color: #fff;
    cursor: pointer;
    transition: all 300ms;
}
#seeMoreBtn:hover {
    border: 2px solid #FFF;
    color: #fff;
    background-color: #000;
}




// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================


.formHolder {
    width: 50%;
    margin: 3% auto;
    padding:2%;
    background-color: #000;
    border-radius: 20px;
}
.divNameSurname,.divMailPhone, .divGendersPurpose{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    border-bottom: none;
    padding: 2%;
}
.divNameSurname {
    border-radius: 10px 10px 0 0;
}
.divName,.divSurname,.divMail,.divPhone, .divGenders, .divPurpose {
    width: 45%;
    margin-bottom: 4%;
}
label {
    font-size: 1.5rem;
    color: #fff;
}
input {
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    outline: 1px solid #000;
}

::placeholder {
    font-size: 1rem;
}
.divGenders input {
    width: auto;
}
input[type=radio] {
    width: 20px;
    height: 20px;
    margin-right: 5%;
    margin-left: 2%;
}

.divGendersPurpose {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divGenders{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: none;
}
.divPurpose {
    margin-bottom: none;
}
select {
    width: 100%;
    padding: 2%;
    font-size: 1rem;
    border-radius: 10px;   
}
.divTextArea {
    width: 100%;
}
textarea {
    width: 100%;
    border-radius: 20px;
    padding: 1%;
    color: #000;
    outline: none;
    margin-top: 1%;
}
.submitBtn {
    background-color: #fff;
    padding: 1%;
    border: 1px solid #000;
    border-radius: 15px;
    margin-top: 2%;
    cursor: pointer; 
    transition: all 300ms;
    font-size: 1rem;
}
.submitBtn:hover {
    background-color: #000;
    color: #fff;
}

.fault {
    // border: 2px solid #f00;
    color: #f00;
}


// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================


footer {
    width: 100%;
    background-color: #000;
}
.centering {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.socials, .fastLinks {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2% 0;
}
.socials {
    text-align: left;
    align-items: start;
    p {
        margin: 5px 0;
    }
    a {
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
    }
}
.fastLinks {
    align-items: end;
    a {
        color: #FFF;
        margin: 5px 0;   
        font-size: 1.2rem;
    }
}
.copyR {
    width: 20%;
    text-align: center;
    p {
        margin: 5px;
        font-size: 1.2rem;
        color: #fff;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}




.authorHolder {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    bottom: 15%;
    left: 25%;
    padding: 5%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.authorImg {
    width: 45%;
    img {
        width: 100%;
        border-radius: 20px;
    }
}
.authorInfo {
    width: 45%;
    p {
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        margin: 20px 0;
        line-height: 1.3;
        text-align: justify;
    }
}
.capitalSpan {
    font-size: 1.3rem;
}




@media screen and (max-width: 993px) {
    
nav h1 a{
    width: 35%;
    font-size: 1.7rem;
}


nav {
    img {
        width: 4%;
    }
}

nav ul {
    width: 35%;
}


.navLi a {
    font-size: 1.2rem;
}

.introContent {
    width: 35%;
    bottom: 15%;
    p {
        font-size: 1.2rem;
        margin: 11% 0;
    }
    h2 {
        font-size: 2.2rem;
    }
    
}
.introContent button {
    font-size: 1.1rem;
}

// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================

.naslov {
    h1 {
        font-size: 2.7rem;
    }
    
  }
  

.jewelInfoStyle {
    font-weight: 400;
    font-size: 1rem; 
}

// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================


.stoneSlider {
    width: 40%;
    margin: 0 auto;
    padding: 2% 2% 1% 2%;
}


// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================


.sponsors {
    margin-bottom: 1%;
}
.sponsorBox {
    height: 150px;
}


#seeMoreBtn {
    font-size: 1.3rem;
    font-weight: 400;
}


// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================


.formHolder {
    width: 65%;
}

label {
    font-size: 1.3rem;
}

::placeholder {
    font-size: 0.9rem;
}

input[type=radio] {
    margin-right: 8%;
}

select {
    font-size: 0.9rem;   
}

textarea {
    padding: 2%;
}




// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================


.centering {
    width: 90%;
}
.socials {
    a {
        font-size: 1rem;
    }
}
.fastLinks {
    a {  
        font-size: 1rem;
    }
}
.copyR {
    width: 30%;
    p {
        margin: 5px;
        font-size: 1rem;
    }
}



// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================



.authorHolder {
    width: 60%;
    bottom: 15%;
    left: 20%;
    padding: 3%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.authorInfo {
    width: 45%;
    p {
        font-size: 0.9rem;
    }
}
.capitalSpan {
    font-size: 1.2rem;
}


}

@media screen and (max-width: 769px) {
       
nav h1 a{
    width: 35%;
    font-size: 1.5rem;
}


nav {
    img {
        width: 6%;
    }
}

nav ul {
    width: 40%;
}


.navLi a {
    font-size: 1.1rem;
}

.introContent {
    width: 40%;
    bottom: 20%;
    right: 5%;
    p {
        font-size: 1rem;
        margin: 10% 0;
    }
    h2 {
        font-size: 1.8rem;
    }
    
}
.introContent button {
    font-size: 0.9rem;
}

// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================

.naslov {
    h1 {
        font-size: 2.3rem;
    }
    
  }

.jewelInfoStyle {
    font-weight: 400;
    font-size: 0.8rem; 
}

.jewel {
    border-radius: 15px 10px 10px 15px;

} 
.imgRadius {
    border-radius: 15px 10px 0% 0%;
}
.jewelInfoRadius{
    border-radius: 0px 0px 10px 15px;
}
// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================


.stoneSlider {
    width: 50%;
    margin: 0 auto;
    padding: 2% 2% 1% 2%;
}

.stoneBtn {
    width: 25px;
    height: 25px;
    font-size: 1rem;
}


// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================



.sponsors {
    margin-bottom: 1%;
}
.sponsorBox {
    height: 120px;
}


#seeMoreBtn {
    font-size: 1.2rem;
    font-weight: 400;
}


// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================


.formHolder {
    width: 80%;
    padding:4%;
    border-radius: 40px;
}

label {
    font-size: 1.2rem;
}


::placeholder {
    font-size: 0.8rem;
}

input[type=radio] {
    width: 15px;
    height: 15px;
    margin-right: 10%;
}

select {
    font-size: 0.8rem;
}
textarea {
    padding: 2%;
}


// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================


.centering {
    width: 90%;
}
.socials {
    a {
        font-size: 0.9rem;
    }
}
.fastLinks {
    a {  
        font-size: 0.9rem;
    }
}
.copyR {
    p {
        font-size: 0.9rem;
    }
}


// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================



.authorHolder {
    width: 80%;
    bottom: 20%;
    left: 10%;
    padding: 5%;    
}

.authorInfo {
    p {
        font-size: 0.8rem;
    }
}
.capitalSpan {
    font-size: 1.1rem;
}

}

@media screen and (max-width: 577px) {  
    nav {
        img {
            display: none;
        }
    }
    nav ul {
        width: 50%;
    }
    .navLi a {
        font-size: 1rem;
    }
    
    .introContent {
        width: 70%;
        left: 15%;
        padding: 7%;
        p {
            font-size: 1rem;
            margin: 10% 0;
            text-align: center;
        }
        h2 {
            font-size: 1.8rem;
        }
        
    }
    .introContent button {
        font-size: 0.9rem;
        margin: 0 auto;
        display: block;
    }
    
    // =====================================================================================================================================================================
    // =====================================================================================================================================================================
    // =====================================================================================================================================================================
    
    .naslov {
        h1 {
            font-size: 2.2rem;
        }
        
      }

    
    .jewelry {
        width: 90%;
      }
    
    .jewel {
        width: 100%;
        border-radius: 15px 10px 10px 15px;
    } 
      
    .jewelInfo {
        padding: 4% 0;
    }
    
    .jewelInfoStyle {
        font-size: 1.2rem; 
    }
    
    .imgRadius {
        border-radius: 15px 10px 0% 0%;
    }
    .jewelInfoRadius{
        border-radius: 0px 0px 10px 15px;
    }

    // =====================================================================================================================================================================
    // =====================================================================================================================================================================
    // =====================================================================================================================================================================
    
    
    .stoneSlider {
        width: 50%;
        margin: 0 auto;
        padding: 2% 2% 1% 2%;
    }
    
    .stoneBtn {
        width: 25px;
        height: 25px;
        font-size: 1rem;
    }
    
    
    // =====================================================================================================================================================================
    // =====================================================================================================================================================================
    // =====================================================================================================================================================================
    
    
    
    .sponsors {
        margin-bottom: 1%;
    }
    .sponsorBox {
        height: 120px;
    }
    
    
    #seeMoreBtn {
        font-size: 0.8rem;
        padding: 1.5%;
        font-weight: 400;
    }
    // =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================


.formHolder {
    width: 90%;
    // margin: 3% auto;
    // padding:2%;
}
.divNameSurname,.divMailPhone, .divGendersPurpose{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.divName,.divSurname,.divMail,.divPhone, .divGenders, .divPurpose {
    width: 100%;
    margin-bottom: 5%;
}
label {
    font-size: 1rem;
}
input {
    border-radius: 13px;
}


select {
    font-size: 0.9rem;
    border-radius: 13px;   
}

textarea {
    padding: 3%;
}
.submitBtn {
    padding: 2%;
    font-size: 0.9rem;
}


// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================


.centering {
    width: 95%;
}
.socials {
    p {
        margin: 2px 0;
    }
    a {
        font-size: 0.8rem;
    }
}
.fastLinks {
    a {  
        font-size: 0.8rem;
    }
}
.copyR {
    p {
        font-size: 0.8rem;
    }
}


// =====================================================================================================================================================================
// =====================================================================================================================================================================
// =====================================================================================================================================================================



.authorHolder {
    width: 90%;
    bottom: 20%;
    left: 5%;
    padding: 2% 3%;    
}

.authorInfo {
    p {
        font-size: 0.7rem;
    }
}

}



